[Desktop Entry]
Categories=System;Monitor;
Comment[es_MX]=Monitor universal del sistema (TTY + GUI)
Comment=Universal system monitor (TTY + GUI)
Exec=pulse
GenericName[es_MX]=
GenericName=
Icon=pulse
MimeType=
Name[es_MX]=Pulse-Active
Name=Pulse-Active
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
